+module('08', 'main-poster')
	.main-poster
		.main-poster__slider
			.main-poster__slide(style="background-image: url(img/poster.jpg)")
				p.main-poster__title 
					| O&A Design is an international award-winning interior <br>
					| design studio based in London and Moscow.
			.main-poster__slide(style="background-image: url(img/poster.jpg)")
			.main-poster__slide(style="background-image: url(img/poster.jpg)")