+module('08', 'projects')
	section.projects
		.container
			.projects__header
				h3.projects__title Projects
				a(href="portfolio.html").projects__see-all.projects__title See all
		.projects__slider
			.projects__container
				a(href="usovo-page.html").projects__slide
					.projects__img(style="background-image:url('img/projects-1.jpg')")
							.projects__overlay Private Residential<br> Houses & Apartments
					p.projects__subtitle Usovo, Russia
				a(href="usovo-page.html").projects__slide
					.projects__img(style="background-image:url('img/projects-2.jpg')")
						.projects__overlay Private Residential<br> Houses & Apartments
					p.projects__subtitle Amsterdam, Netherlands
				a(href="usovo-page.html").projects__slide
					.projects__img(style="background-image:url('img/projects-3.jpg')")
						.projects__overlay Private Residential<br> Houses & Apartments
					p.projects__subtitle Barcelona, Spain
				a(href="usovo-page.html").projects__slide
					.projects__img(style="background-image:url('img/projects-4.jpg')")
						.projects__overlay Private Residential<br> Houses & Apartments
					p.projects__subtitle Usovo, Russia
		.projects__range
			#range-all-projects