+module('08', 'contacts-page')
	section.contacts
		.container
			h3.contacts__title Contacts
			.flex
				.contacts__img(style="background-image:url('img/contacts.png')")
				.contacts__info
					.contacts__row
						.contacts__text--bold London,<br> United Kingdom
						.contacts__text
							p.
								22 Grosvenor Gardens <br>
								Belgravia London <br>
								SW1W 0DH
					.contacts__row
						.contacts__text--bold Moscow,<br> Russia
						.contacts__text
							p.
								Nastavnicheskiy lane 17/1 <br>
								Moscow, Russia <br>
								105120
							p.
								Interior design enquiries<br>
								interiors@oa-design.com
							p.
								General enquiries<br>
								info@oa-design.com
							p.
								Press / Marketing enquiries<br>
								marketing@oa-design.com