+module('08', 'header')
	header(id='header').header
		.container
			.flex
				a(href="main.html").logo
					img(src="img/logo-black.svg")
				nav.menu
					ul.menu__list
						li.menu__item
							a(href="about.html").menu__link About
						li.menu__item
							a(href="portfolio.html").menu__link Portfolio
						li.menu__item
							a(href="services.html").menu__link Services
						li.menu__item
							a(href="#").menu__link Products
						li.menu__item
							a(href="blog.html").menu__link Blog
						li.menu__item
							a(href="contacts.html").menu__link Contacts                   
