@include module('08', 'contacts-page') {
    .contacts {
        &__title {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.5px;
            margin-top: 140px;
            margin-bottom: 20px;
        }

        &__img {
            width: 49.3%;
            padding-bottom: 33.5%;
            max-width: 740px;
            position: relative;
            // max-height: 500px;
            margin-bottom: 96px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__info {
            width: 50.7%;
        }

        &__row {
            display: flex;
            margin-left: 34%;
        }

        &__text {
            font-size: 14px;
            line-height: 1.43;
            letter-spacing: -0.2px;
            font-weight: 500;
            margin-left: 29%;
            width: 176px;
            display: block;
            position: relative;
            top: 5px;

            &--bold {
                font-size: 14px;
                line-height: 20px;
                width: 104px;
                display: block;
                white-space: nowrap;
            }

            & > * {
                &:not(:last-child) {
                    margin-bottom: 20px;
                }

                &:first-child {
                    margin-bottom: 44px; 
                }
            }
        }
    }
}