+module('08', 'footer')
	footer.footer
		.container
			.flex
				.footer__col.footer__col--london
					h3.footer__title London
					.footer__contacts
						p.footer__text 
							| +44 2039 814 788 
							| info@oa-design.com
					.footer__adress
						p.footer__text 
							| 22 Grosvenor Gardens,<br>Belgravia, 
							| London<br> SW1W 0DH
				.footer__col.footer__col--moscow
					h3.footer__title Moscow
					.footer__contacts
						p.footer__text 
							| +7 903 960 18 62 
							| nb@olegklodt.com
					.footer__adress
						p.footer__text 
							| Nastavnicheskiy lane, 17/1<br>
							| 105120, Moscow, Russia
				.footer__col.footer__col--social
					h3.footer__title Social
					ul.footer__social-list
						li.footer__social-item
							a(href="#").footer__social-link Facebook
						li.footer__social-item
							a(href="#").footer__social-link Instagram
						li.footer__social-item
							a(href="#").footer__social-link Pinterest
						li.footer__social-item
							a(href="#").footer__social-link Houzz
			a(href="privacy.html").footer__policy Privacy Policy		