//= helpers/pug/mixins.pug

doctype html
html
	head
		//= blocks/layout/head.pug
		style(type='text/css').
			.menu__item:last-child{
				border-bottom: 1px solid #1d1e1f;
			}
	body(data-page="contacts")
		//= blocks/includes/header/header.pug
		//= blocks/contacts/contacts-page/contacts-page.pug
		//= blocks/includes/footer/footer.pug
		//= blocks/layout/scripts.pug