//= helpers/pug/mixins.pug

doctype html
html
	head
		//= blocks/layout/head.pug
	body(data-page="main")
		//= blocks/main/header/header.pug
		//= blocks/main/poster/poster.pug
		//= blocks/main/projects/projects.pug
		//= blocks/includes/footer/footer.pug
		//= blocks/layout/scripts.pug