//= helpers/pug/mixins.pug

doctype html
html
	head
		//= blocks/layout/head.pug
		style(type='text/css').
			.menu__item:nth-child(2){
				border-bottom: 1px solid #1d1e1f;
			}
	body(data-page="portfolio")
		//= blocks/includes/header/header.pug
		//= blocks/portfolio/grid-of-projects/grid-of-projects.pug
		//= blocks/includes/footer/footer.pug
		//= blocks/layout/scripts.pug