//= helpers/pug/mixins.pug

doctype html
html
	head
		//= blocks/layout/head.pug
	body(data-page="post")
		//= blocks/includes/header/header.pug
		//= blocks/privacy/privacy-page/privacy-page.pug
		//= blocks/includes/footer/footer.pug
		//= blocks/layout/scripts.pug