//= helpers/pug/mixins.pug

doctype html
html
	head
		//= blocks/layout/head.pug
		style(type='text/css').
			.menu__item:nth-child(3){
				border-bottom: 1px solid #1d1e1f;
			}
	body(data-page="services")
		//= blocks/includes/header/header.pug
		//= blocks/services/all-services/all-services.pug
		//= blocks/includes/footer/footer.pug
		//= blocks/layout/scripts.pug