@include module('08', 'usovo-poster') {
    .poster {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            text-align: center;
            font-size: 18px;
            color: $white;
            line-height: 1.33;
            letter-spacing: -0.5px;
            font-weight: 500;
            position: relative;
            top: 10px;
        }

        &__arrow {
            padding: 0 20px;
            cursor: pointer;
            display: block;
            position: absolute;
            bottom: -58px;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 38px;
        }
    }
}